/*
    Timeline
    css styles specific to this module only
*/

.timeline {
    width: 10000px;
}

.timeline .time {
    width: 100px;
    display: inline-block;
    padding: 5px 5px 5px 5px;
    border-left: 1px solid #999;
}

.timeline .slot {
    width: 110px;
    float: left;
    border-left: 1px solid #999;
}

.timeline .item {
    display: block;
    padding: 5px 5px 5px 5px;
}